.footer {
    padding: 2px 0 5px 2px;
    background-color: rgba(0, 0, 0, .8);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
            padding: 2px 0 2px 0;
            font-size: 5px;
            font-weight: 300;
            color: #fff;
            text-align: left;
            p {
                margin: 5px 0 0 0;
            }
        }
        &-social {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130px;
            padding: 0 4px 0 4px;
            a {
                margin: 0 5px 0 5px;
            }
        }
        &-img {
            width: 40px;
            &_icon {
                width: 100%;
            }
        }
    }
    .footer__wrapper > div {
        width: 25%;
        &:nth-child(2) {
            display: flex;
            justify-content: center;
            width: 50%;
        }
    }
 }