.label {
    margin: 0 auto;
    padding: 4px 0 0 0;
    margin-top: 10px;
    width: 115px;
    height: 27px;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    background: $black;
    color: $base_white;
    &_mobile {
        margin-top: 25px;
    }
    &__choice {
        position: relative;
        z-index: 2;
        background: $base_white;
        color: $black;
        font-weight: 400;
    }
    &__require {
        margin-top: 35px;
    }
    &__world {
        position: relative;
        margin-top: 40px;
        width: 75px;
        font-weight: 400;
        background: $base_white;
        color: $black;
        z-index: 2;
    }
}