.reasons {
    min-height: 700px;
    padding: 10px 0 25px 0;
    background-color: $base_white;
    &__heading {
        margin-top: 25px;
        font-size: 38px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: $black;
    }
    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }
    &__round {
        margin-right: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: $main_color;
        width: 113px;
        height: 113px;
    }
    &__title {
        font-size: 17px;
        font-weight: 400;
        color: $main_color;
    }
    &__text {
        font-size: 14px;
        font-weight: 400;
        color: $text_black;
    }
    &__descr {
        width: 340px;
    }
}