.subheader{
    position: absolute;
    min-height: 80px;
    width: 100%;
    background-color: $opacity_black_06;
    &__official {
        font-size: 13px;
        font-weight: 300;
        color: #fff;
    }
    &__call {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 100;
        color: #fff
    }
    &__num {
        margin-top: 5px;
        font-size: 21px;
        font-weight: 700;
        color: #fff;
    }
    &__logo {
        margin-top: 10px;
        width: 100%;
    }
    &__link {
        text-decoration: none;
    }
    a {
        text-decoration: none;
    }
}