.third__heading {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #222;
    &__world {
        position: relative;
        color: $base_white;
        z-index: 2;
    }
}