.button {
    margin-top: 15px;
    border-radius: 7px;
    border: none;
    width: 172px;
    height: 46px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: $base_white;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
    &:hover {
        background: $main_color;
    }
    &_promo {
        margin: 70px auto 0 auto;
        width: 259px;
        height: 63px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        color: $base_white;
    }
}