.choice {
    padding: 15px 0 15px 0;
    position: relative;
    min-height: 750px;
    &__img {
        position: relative;
        display: block;
        margin: 0 auto;
        z-index: 2;
    }
    &__black {
        position: absolute;
        top: 0;
        left: 0;
        background: $black;
        width: 100%;
        height: 500px;
        z-index: 1;
    }
}