.footer {
    padding: 30px 0 15px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 0 0 30px;
    }
    &_wrapper > div {
        width: 33%;
        &:nth-child(3) {
            display: flex ;
            justify-content: flex-end;
        }
    }
    &__social {
        display: flex;
        justify-content: space-between;
        width: 200px;
    }
    &__item {
        display: flex; 
        justify-content: center;
        align-items: center;
        margin: 4 0;
        width: 32px;
        height: 32px;
        background-color: $dark_blue;
        border-radius: 100%;
        text-decoration: none;
    }
    &__contacts {
        margin: 0 auto;
        padding-left: 25px;
        width: 410px;
    }
    &__main {
        margin-top: 15px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        a {
            font-size: 15px;
            font-weight: 300;
            text-decoration: none;
            text-transform: uppercase;
            color: $footer_text_black;
        }
    }
    &__submain {
        margin-top: 10px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        a {
            font-size: 15px;
            font-weight: 300;
            text-decoration: none;
            color: $footer_text_black;
        }
    }
    &__lang {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
    }
}