.heading {
    margin-top: 25px;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    &__choice {
        position: relative;
        color: $base_white;
        z-index: 2;
    }
    &__world {
        position: relative;
        color: $base_white;
        z-index: 2;
    }
}