.mobile {
    /* position: relative */
    padding: 30px 0 40px 0;
    min-height: 700px;
    &__item {
        padding: 10px 0 0 0;
        position: relative;
        margin: 0 auto;
        margin-top: 15px;
        width: 320px;
        height: 280px;
    }
    &__item_1 {
        background: url(../img/bg/mobile/cart_1.png) center (center / cover) no-repeat;
    }
    &__item_2 {
        background: url(../img/bg/mobile/cart_2.png) center (center / cover) no-repeat;
    }
    &__item_3 {
        background: url(../img/bg/mobile/cart_3.png) center (center / cover) no-repeat;
    }
    &__item_4 {
        background: url(../img/bg/mobile/cart_4.png) center (center / cover) no-repeat;
    }
    &__item_5 {
        background: url(../img/bg/mobile/cart_5.png) center (center / cover) no-repeat;
    }
    &__item_6 {
        background: url(../img/bg/mobile/cart_6.png) center (center / cover) no-repeat;
    }
    &__plus {
        position: absolute;
        display: flex ;
        justify-content: center;
        align-items: center;
        left: 50%;
        bottom: 35px;
        margin: 0 auto;
        border-radius: 100%;
        width: 29px;
        height: 29px;
        background-color: $black;
        cursor: pointer;
        &::before {
            content: '';
            display: block;
            width: 14px ;
            height: 2px; 
            background-color: $main_color;
            transition: 0.6s all;
        }
        &::after {
            content: '';
            position: absolute; 
            left: 50%;
            transform: translateX(-50%);
            display: block; 
            height: 14px;
            width: 2px;
            background-color: $main_color;
            transition: 0.3s all;
        }
        &:hover {
            &::before, &::after {
                background-color: red;
            }
        }
        }
}