.promo {
    padding: 150px 0 130px 0;
    min-height: 800px;
    background: url(../img/bg/uber_bg.png) center (center / cover) no-repeat;
    &__header {
        font-size: 60px;
        font-weight: 700;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
    }
    &__subheader {
        font-size: 40px;
        font-weight: 700;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
    }
    &__descr {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        color: #fff; 
    }
}